In [1]:
import pandas as pd
import csv

In [2]:
#import the data from excel to a dataframe
df1=pd.read_excel('ACS_population_over_65_from_2015_to_2020.xlsx')
#This will print the first few line of the dataframe
df1.head()

,County,State,Total_population,Total_Male_over_65_years,Total_Female_population_over_65_years,Total_Population_over_65_years,Year
0,Childress County,Texas,7059,476,544,1020,2015
1,Comal County,Texas,119632,9431,10825,20256,2015
2,Houston County,Texas,22949,2143,2522,4665,2015
3,Navarro County,Texas,48118,3368,4193,7561,2015
4,Scurry County,Texas,17238,1085,1353,2438,2015

In [3]:
#dropping the unncessary columns, axis=1 represent a column
df1=df1.drop('Total_Male_over_65_years',axis=1)
#dropping the unncessary columns, axis=1 represent a column
df1=df1.drop('Total_Female_population_over_65_years',axis=1)
df1.head()

,County,State,Total_population,Total_Population_over_65_years,Year
0,Childress County,Texas,7059,1020,2015
1,Comal County,Texas,119632,20256,2015
2,Houston County,Texas,22949,4665,2015
3,Navarro County,Texas,48118,7561,2015
4,Scurry County,Texas,17238,2438,2015

In [4]:
#performing the arithmetic operations on the dataset and storing them in a new column
df1['Percent_population_over_65_years']=(df1['Total_Population_over_65_years']*100)/df1['Total_population']
df1.head()

,County,State,Total_population,Total_Population_over_65_years,Year,Percent_population_over_65_years
0,Childress County,Texas,7059,1020,2015,14.449639
1,Comal County,Texas,119632,20256,2015,16.931925
2,Houston County,Texas,22949,4665,2015,20.327683
3,Navarro County,Texas,48118,7561,2015,15.713454
4,Scurry County,Texas,17238,2438,2015,14.143172

In [5]:
#converting the rows data into column by using the pivot_table function
df1=df1.pivot_table(index=['County','State'],values=['Percent_population_over_65_years','Total_population','Total_Population_over_65_years'],columns='Year').reset_index()
df1.head()

                County            State Percent_population_over_65_years  \
Year                                                                2015
0     Abbeville County   South Carolina                        18.814258
1        Acadia Parish        Louisiana                        13.290864
2      Accomack County         Virginia                        20.468066
3           Ada County            Idaho                        11.989911
4         Adair County             Iowa                        22.515486

                                                             \
Year       2016       2017       2018       2019       2020
0     19.566350  20.066161  20.545890  21.123158  21.633716
1     13.512474  14.052742  14.389145  14.858222  15.419025
2     20.955838  21.415956  21.901533  22.722125  23.510442
3     12.559711  12.982945  13.473093  13.950780  14.461322
4     22.687585  21.941046  21.982033  22.103035  22.375142

     Total_Population_over_65_years                                      \
Year                           2015     2016     2017     2018     2019
0                            4703.0   4882.0   4974.0   5066.0   5202.0
1                            8262.0   8428.0   8798.0   9003.0   9280.0
2                            6778.0   6928.0   7033.0   7171.0   7424.0
3                           50058.0  53479.0  56491.0  60097.0  63734.0
4                            1672.0   1663.0   1578.0   1566.0   1566.0

              Total_population                                          \
Year     2020             2015      2016      2017      2018      2019
0      5318.0          24997.0   24951.0   24788.0   24657.0   24627.0
1      9617.0          62163.0   62372.0   62607.0   62568.0   62457.0
2      7655.0          33115.0   33060.0   32840.0   32742.0   32673.0
3     67892.0         417501.0  425798.0  435117.0  446052.0  456849.0
4      1577.0           7426.0    7330.0    7192.0    7124.0    7085.0


Year      2020
0      24582.0
1      62371.0
2      32560.0
3     469473.0
4       7048.0

In [8]:
#storing the data present in the dataframe in a excel while
df1.to_excel('final_updated_ACS_percent_population_over_65years.xlsx')