In [29]:
import pandas as pd
import csv

In [30]:
#import the data from excel to a dataframe
df1=pd.read_excel('ACS_All_population_2015_to_2020_Subjected_data.xlsx')
#This will print the first few line of the dataframe
df1.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),S0101_C02_001E (Total_Estimated_Male_Population),S0101_C03_001E (Total_Estimated_Female_Population),Year
0,1,Childress County,Texas,7059,4050,3009,2015
1,2,Comal County,Texas,119632,59187,60445,2015
2,3,Houston County,Texas,22949,12227,10722,2015
3,4,Navarro County,Texas,48118,23717,24401,2015
4,5,Scurry County,Texas,17238,9312,7926,2015

In [31]:
#import the data from excel to a dataframe
df2=pd.read_excel('ACS_under18_Poplation_from_2015_to_2020.xlsx')
#This will print the first few line of the dataframe
df2.head()

,County,State,Total_Male_Under_18years (WHITE ALONE),Total_Female_Under_18years (WHITE ALONE),Total_Male_Under_18years (BLACK OR AFRICAN AMERICAN ALONE),Total_Female_Under_18years (BLACK OR AFRICAN AMERICAN ALONE),Total_Male_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE),Total_Female_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE),Total_Male_Under_18years(ASIAN ALONE),Total_Female_Under_18years(ASIAN ALONE),...,Total_Female_Under_18years(NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE),Total_Male_Under_18years(SOME OTHER RACE ALONE),Total_Female_Under_18years(SOME OTHER RACE ALONE),Total_Male_Under_18years(TWO OR MORE RACES),Total_Female_Under_18years(TWO OR MORE RACES),"Total_Male_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)","Total_Female_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)",Total_Male_under_18years(HISPANIC OR LATINO),Total_Female_under_18years(HISPANIC OR LATINO),Year
0,Childress County,Texas,560,551,32,33,0,38,18,8,...,98,10,16,0,61,378,397,202,178,2015
1,Comal County,Texas,12548,11931,333,252,31,25,69,121,...,0,547,450,763,675,8292,7804,5219,5091,2015
2,Houston County,Texas,1393,1284,550,568,0,0,0,0,...,0,234,236,74,140,1242,1137,381,384,2015
3,Navarro County,Texas,4931,4359,916,837,134,215,69,3,...,76,118,317,364,289,2889,2626,2538,2406,2015
4,Scurry County,Texas,2028,1899,64,57,10,0,0,0,...,0,98,123,27,53,1004,838,1132,1203,2015

In [32]:
# This will add all the column names of the dataframe into a list and displays them 
df2.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['County', 'State', 'Total_Male_Under_18years (WHITE ALONE)',
       'Total_Female_Under_18years (WHITE ALONE)',
       'Total_Male_Under_18years (BLACK OR AFRICAN AMERICAN ALONE)',
       'Total_Female_Under_18years (BLACK OR AFRICAN AMERICAN ALONE)',
       'Total_Male_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
       'Total_Female_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
       'Total_Male_Under_18years(ASIAN ALONE)',
       'Total_Female_Under_18years(ASIAN ALONE)',
       'Total_Male_Under_18years(NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
       'Total_Female_Under_18years(NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
       'Total_Male_Under_18years(SOME OTHER RACE ALONE)',
       'Total_Female_Under_18years(SOME OTHER RACE ALONE)',
       'Total_Male_Under_18years(TWO OR MORE RACES)',
       'Total_Female_Under_18years(TWO OR MORE RACES)',
       'Total_Male_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)',
       'Total_Female_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)',
       'Total_Male_under_18years(HISPANIC OR LATINO)',
       'Total_Female_under_18years(HISPANIC OR LATINO)', 'Year'],
      dtype='object')>

In [33]:
#dropping the unncessary columns, axis=1 represent a column
df1=df1.drop('S0101_C02_001E (Total_Estimated_Male_Population)',axis=1)
#dropping the unncessary columns, axis=1 represent a column
df1=df1.drop('S0101_C03_001E (Total_Estimated_Female_Population)',axis=1)
df1.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),Year
0,1,Childress County,Texas,7059,2015
1,2,Comal County,Texas,119632,2015
2,3,Houston County,Texas,22949,2015
3,4,Navarro County,Texas,48118,2015
4,5,Scurry County,Texas,17238,2015

In [34]:
#merging 2 dataframes based on County, State and Year which are common columns in both the data framesand storing them in df3
df3=pd.merge(df1,df2,on=['County','State','Year'])
df3.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),Year,Total_Male_Under_18years (WHITE ALONE),Total_Female_Under_18years (WHITE ALONE),Total_Male_Under_18years (BLACK OR AFRICAN AMERICAN ALONE),Total_Female_Under_18years (BLACK OR AFRICAN AMERICAN ALONE),Total_Male_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE),...,Total_Male_Under_18years(NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE),Total_Female_Under_18years(NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE),Total_Male_Under_18years(SOME OTHER RACE ALONE),Total_Female_Under_18years(SOME OTHER RACE ALONE),Total_Male_Under_18years(TWO OR MORE RACES),Total_Female_Under_18years(TWO OR MORE RACES),"Total_Male_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)","Total_Female_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)",Total_Male_under_18years(HISPANIC OR LATINO),Total_Female_under_18years(HISPANIC OR LATINO)
0,1,Childress County,Texas,7059,2015,560,551,32,33,0,...,0,98,10,16,0,61,378,397,202,178
1,2,Comal County,Texas,119632,2015,12548,11931,333,252,31,...,0,0,547,450,763,675,8292,7804,5219,5091
2,3,Houston County,Texas,22949,2015,1393,1284,550,568,0,...,0,0,234,236,74,140,1242,1137,381,384
3,4,Navarro County,Texas,48118,2015,4931,4359,916,837,134,...,25,76,118,317,364,289,2889,2626,2538,2406
4,5,Scurry County,Texas,17238,2015,2028,1899,64,57,10,...,0,0,98,123,27,53,1004,838,1132,1203

In [35]:
# This will add all the column names of the dataframe into a list and displays them 
df3.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['Id_number', 'County', 'State',
       'S0101_C01_001E (Total_Estimated_Population)', 'Year',
       'Total_Male_Under_18years (WHITE ALONE)',
       'Total_Female_Under_18years (WHITE ALONE)',
       'Total_Male_Under_18years (BLACK OR AFRICAN AMERICAN ALONE)',
       'Total_Female_Under_18years (BLACK OR AFRICAN AMERICAN ALONE)',
       'Total_Male_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
       'Total_Female_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
       'Total_Male_Under_18years(ASIAN ALONE)',
       'Total_Female_Under_18years(ASIAN ALONE)',
       'Total_Male_Under_18years(NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
       'Total_Female_Under_18years(NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
       'Total_Male_Under_18years(SOME OTHER RACE ALONE)',
       'Total_Female_Under_18years(SOME OTHER RACE ALONE)',
       'Total_Male_Under_18years(TWO OR MORE RACES)',
       'Total_Female_Under_18years(TWO OR MORE RACES)',
       'Total_Male_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)',
       'Total_Female_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)',
       'Total_Male_under_18years(HISPANIC OR LATINO)',
       'Total_Female_under_18years(HISPANIC OR LATINO)'],
      dtype='object')>

In [36]:
#performing the arithmetic operations on the dataset and storing them in a new column
df3['Total_white_population_under_18']=df3['Total_Male_Under_18years (WHITE ALONE)']+df3['Total_Female_Under_18years (WHITE ALONE)']
df3['Total_BLACK_OR_AFRICAN_AMERICAN_ALONE_population_under_18']=df3['Total_Male_Under_18years (BLACK OR AFRICAN AMERICAN ALONE)']+df3['Total_Female_Under_18years (BLACK OR AFRICAN AMERICAN ALONE)']
df3['Total_AMERICAN_INDIAN_AND_ALASKA_NATIVE_ALONE_population_under_18']=df3['Total_Male_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE)']+df3['Total_Female_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE)']
df3['Total_ASIAN_ALONE_population_under_18']=df3['Total_Male_Under_18years(ASIAN ALONE)']+df3['Total_Female_Under_18years(ASIAN ALONE)']
df3['Total_NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER_ALONE_population_under_18']=df3['Total_Male_Under_18years(NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)']+df3['Total_Female_Under_18years(NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)']
df3['Total_SOME_OTHER_RACE_ALONE_population_under_18']=df3['Total_Male_Under_18years(SOME OTHER RACE ALONE)']+df3['Total_Female_Under_18years(SOME OTHER RACE ALONE)']
df3['Total_TWO_OR_MORE_RACES_population_under_18']=df3['Total_Male_Under_18years(TWO OR MORE RACES)']+df3['Total_Female_Under_18years(TWO OR MORE RACES)']
df3['Total_WHITE_ALONE_NOT_HISPANIC_OR_LATINO_population_under_18']=df3['Total_Male_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)']+df3['Total_Female_Under_18years(WHITE ALONE, NOT HISPANIC OR LATINO)']
df3['Total_HISPANIC_OR_LATINO_population_under_18']=df3['Total_Male_under_18years(HISPANIC OR LATINO)']+df3['Total_Female_under_18years(HISPANIC OR LATINO)']
df3.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),Year,Total_Male_Under_18years (WHITE ALONE),Total_Female_Under_18years (WHITE ALONE),Total_Male_Under_18years (BLACK OR AFRICAN AMERICAN ALONE),Total_Female_Under_18years (BLACK OR AFRICAN AMERICAN ALONE),Total_Male_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE),...,Total_Female_under_18years(HISPANIC OR LATINO),Total_white_population_under_18,Total_BLACK_OR_AFRICAN_AMERICAN_ALONE_population_under_18,Total_AMERICAN_INDIAN_AND_ALASKA_NATIVE_ALONE_population_under_18,Total_ASIAN_ALONE_population_under_18,Total_NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER_ALONE_population_under_18,Total_SOME_OTHER_RACE_ALONE_population_under_18,Total_TWO_OR_MORE_RACES_population_under_18,Total_WHITE_ALONE_NOT_HISPANIC_OR_LATINO_population_under_18,Total_HISPANIC_OR_LATINO_population_under_18
0,1,Childress County,Texas,7059,2015,560,551,32,33,0,...,178,1111,65,38,26,98,26,61,775,380
1,2,Comal County,Texas,119632,2015,12548,11931,333,252,31,...,5091,24479,585,56,190,0,997,1438,16096,10310
2,3,Houston County,Texas,22949,2015,1393,1284,550,568,0,...,384,2677,1118,0,0,0,470,214,2379,765
3,4,Navarro County,Texas,48118,2015,4931,4359,916,837,134,...,2406,9290,1753,349,72,101,435,653,5515,4944
4,5,Scurry County,Texas,17238,2015,2028,1899,64,57,10,...,1203,3927,121,10,0,0,221,80,1842,2335

In [37]:
#performing the arithmetic operations on the dataset and storing them in a new column
df3['percent_white_population_under_18']=(df3['Total_white_population_under_18']*100)/df3['S0101_C01_001E (Total_Estimated_Population)']
df3['Percent_BLACK_OR_AFRICAN_AMERICAN_ALONE_population_under_18']=(df3['Total_BLACK_OR_AFRICAN_AMERICAN_ALONE_population_under_18']*100)/df3['S0101_C01_001E (Total_Estimated_Population)']
df3['percent_AMERICAN_INDIAN_AND_ALASKA_NATIVE_ALONE_population_under_18']=(df3['Total_AMERICAN_INDIAN_AND_ALASKA_NATIVE_ALONE_population_under_18']*100)/df3['S0101_C01_001E (Total_Estimated_Population)']
df3['percent_ASIAN_ALONE_population_under_18']=(df3['Total_ASIAN_ALONE_population_under_18']*100)/df3['S0101_C01_001E (Total_Estimated_Population)']
df3['percent_NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER_ALONE_population_under_18']=(df3['Total_NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER_ALONE_population_under_18']*100)/df3['S0101_C01_001E (Total_Estimated_Population)']
df3['percent_SOME_OTHER_RACE_ALONE_population_under_18']=(df3['Total_SOME_OTHER_RACE_ALONE_population_under_18']*100)/df3['S0101_C01_001E (Total_Estimated_Population)']
df3['percent_TWO_OR_MORE_RACES_population_under_18']=(df3['Total_TWO_OR_MORE_RACES_population_under_18']*100)/df3['S0101_C01_001E (Total_Estimated_Population)']
df3['percent_WHITE_ALONE_NOT_HISPANIC_OR_LATINO_population_under_18']=(df3['Total_WHITE_ALONE_NOT_HISPANIC_OR_LATINO_population_under_18']*100)/df3['S0101_C01_001E (Total_Estimated_Population)']
df3['percent_HISPANIC_OR_LATINO_population_under_18']=(df3['Total_HISPANIC_OR_LATINO_population_under_18']*100)/df3['S0101_C01_001E (Total_Estimated_Population)']

In [38]:
df3.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),Year,Total_Male_Under_18years (WHITE ALONE),Total_Female_Under_18years (WHITE ALONE),Total_Male_Under_18years (BLACK OR AFRICAN AMERICAN ALONE),Total_Female_Under_18years (BLACK OR AFRICAN AMERICAN ALONE),Total_Male_under_18Year(AMERICAN INDIAN AND ALASKA NATIVE ALONE),...,Total_HISPANIC_OR_LATINO_population_under_18,percent_white_population_under_18,Percent_BLACK_OR_AFRICAN_AMERICAN_ALONE_population_under_18,percent_AMERICAN_INDIAN_AND_ALASKA_NATIVE_ALONE_population_under_18,percent_ASIAN_ALONE_population_under_18,percent_NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER_ALONE_population_under_18,percent_SOME_OTHER_RACE_ALONE_population_under_18,percent_TWO_OR_MORE_RACES_population_under_18,percent_WHITE_ALONE_NOT_HISPANIC_OR_LATINO_population_under_18,percent_HISPANIC_OR_LATINO_population_under_18
0,1,Childress County,Texas,7059,2015,560,551,32,33,0,...,380,15.738773,0.920810,0.538320,0.368324,1.388299,0.368324,0.864145,10.978892,5.383199
1,2,Comal County,Texas,119632,2015,12548,11931,333,252,31,...,10310,20.461917,0.489000,0.046810,0.158820,0.000000,0.833389,1.202020,13.454594,8.618095
2,3,Houston County,Texas,22949,2015,1393,1284,550,568,0,...,765,11.664996,4.871672,0.000000,0.000000,0.000000,2.048020,0.932503,10.366465,3.333479
3,4,Navarro County,Texas,48118,2015,4931,4359,916,837,134,...,4944,19.306704,3.643127,0.725300,0.149632,0.209901,0.904028,1.357081,11.461407,10.274741
4,5,Scurry County,Texas,17238,2015,2028,1899,64,57,10,...,2335,22.781065,0.701938,0.058011,0.000000,0.000000,1.282051,0.464091,10.685694,13.545655

In [39]:
#storing the data present in the dataframe in a csv while
df3.to_csv('updated_under_18_race_population_percentage.csv',index=False)

In [40]:
#import the data from csv to a dataframe
df4=pd.read_csv('updated_under_18_race_population_percentage.csv')
df4.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),Year,percent_white_population_under_18,Percent_BLACK_OR_AFRICAN_AMERICAN_ALONE_population_under_18,percent_AMERICAN_INDIAN_AND_ALASKA_NATIVE_ALONE_population_under_18,percent_ASIAN_ALONE_population_under_18,percent_NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER_ALONE_population_under_18,percent_SOME_OTHER_RACE_ALONE_population_under_18,percent_TWO_OR_MORE_RACES_population_under_18,percent_WHITE_ALONE_NOT_HISPANIC_OR_LATINO_population_under_18,percent_HISPANIC_OR_LATINO_population_under_18
0,1,Childress County,Texas,7059,2015,15.738773,0.920810,0.538320,0.368324,1.388299,0.368324,0.864145,10.978892,5.383199
1,2,Comal County,Texas,119632,2015,20.461917,0.489000,0.046810,0.158820,0.000000,0.833389,1.202020,13.454594,8.618095
2,3,Houston County,Texas,22949,2015,11.664996,4.871672,0.000000,0.000000,0.000000,2.048020,0.932503,10.366465,3.333479
3,4,Navarro County,Texas,48118,2015,19.306704,3.643127,0.725300,0.149632,0.209901,0.904028,1.357081,11.461407,10.274741
4,5,Scurry County,Texas,17238,2015,22.781065,0.701938,0.058011,0.000000,0.000000,1.282051,0.464091,10.685694,13.545655

In [41]:
df4.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['Id_number', 'County', 'State',
       'S0101_C01_001E (Total_Estimated_Population)', 'Year',
       'percent_white_population_under_18',
       'Percent_BLACK_OR_AFRICAN_AMERICAN_ALONE_population_under_18',
       'percent_AMERICAN_INDIAN_AND_ALASKA_NATIVE_ALONE_population_under_18',
       'percent_ASIAN_ALONE_population_under_18',
       'percent_NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER_ALONE_population_under_18',
       'percent_SOME_OTHER_RACE_ALONE_population_under_18',
       'percent_TWO_OR_MORE_RACES_population_under_18',
       'percent_WHITE_ALONE_NOT_HISPANIC_OR_LATINO_population_under_18',
       'percent_HISPANIC_OR_LATINO_population_under_18'],
      dtype='object')>

In [43]:
#converting the rows data into column by using the pivot_table function
df4=df4.pivot_table(index=['County','State'],values=['S0101_C01_001E (Total_Estimated_Population)','percent_white_population_under_18','Percent_BLACK_OR_AFRICAN_AMERICAN_ALONE_population_under_18','percent_AMERICAN_INDIAN_AND_ALASKA_NATIVE_ALONE_population_under_18','percent_ASIAN_ALONE_population_under_18','percent_NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER_ALONE_population_under_18','percent_SOME_OTHER_RACE_ALONE_population_under_18','percent_TWO_OR_MORE_RACES_population_under_18','percent_WHITE_ALONE_NOT_HISPANIC_OR_LATINO_population_under_18','percent_HISPANIC_OR_LATINO_population_under_18'],columns='Year').reset_index()
df4.head()

                County            State  \
Year
0     Abbeville County   South Carolina
1        Acadia Parish        Louisiana
2      Accomack County         Virginia
3           Ada County            Idaho
4         Adair County             Iowa

     Percent_BLACK_OR_AFRICAN_AMERICAN_ALONE_population_under_18            \
Year                                                        2015      2016
0                                              6.236748           5.723218
1                                              5.326320           5.446354
2                                              6.643515           6.881428
3                                              0.394969           0.456555
4                                              0.000000           0.000000

                                              \
Year      2017      2018      2019      2020
0     5.728578  5.596788  5.733544  5.918965
1     5.285351  5.269467  4.808108  4.582258
2     6.686967  7.174272  7.109846  7.220516
3     0.481939  0.510703  0.528183  0.404496
4     0.000000  0.000000  0.000000  0.000000

     S0101_C01_001E (Total_Estimated_Population)            ...  \
Year                                        2015      2016  ...
0                                        24997.0   24951.0  ...
1                                        62163.0   62372.0  ...
2                                        33115.0   33060.0  ...
3                                       417501.0  425798.0  ...
4                                         7426.0    7330.0  ...

     percent_WHITE_ALONE_NOT_HISPANIC_OR_LATINO_population_under_18  \
Year                                                           2017
0                                             13.938196
1                                             19.165589
2                                              9.415347
3                                             19.721592
4                                             20.161290

                                      percent_white_population_under_18  \
Year       2018       2019       2020                              2015
0     13.691852  13.477078  13.245464                         14.373725
1     18.928206  18.753703  18.580751                         19.664431
2      9.235844   9.126802   9.103194                         12.776687
3     19.415449  19.011096  18.512886                         22.476832
4     20.115104  19.943543  19.948922                         21.141934


Year       2016       2017       2018       2019       2020
0     14.316059  14.039051  13.971692  13.728834  13.534293
1     19.539216  19.571294  19.599476  19.437373  19.238107
2     12.646703  13.032887  12.891699  12.811802  11.845823
3     22.126924  21.781038  21.503322  21.070419  20.311924
4     20.750341  20.786986  20.845031  20.705716  20.658343

[5 rows x 62 columns]

In [44]:
#storing the data present in the dataframe in a csv while
df4.to_csv('ACS_Race_population_Under18.csv',index=False)