In [7]:
import pandas as pd
import csv

In [8]:
#reading the CSV file
df1=pd.read_excel('ACS_All_population_2015_to_2020_Subjected_data.xlsx')
df1.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),S0101_C02_001E (Total_Estimated_Male_Population),S0101_C03_001E (Total_Estimated_Female_Population),Year
0,1,Childress County,Texas,7059,4050,3009,2015
1,2,Comal County,Texas,119632,59187,60445,2015
2,3,Houston County,Texas,22949,12227,10722,2015
3,4,Navarro County,Texas,48118,23717,24401,2015
4,5,Scurry County,Texas,17238,9312,7926,2015

In [9]:
#reading the CSV file
df2=pd.read_excel('ACS_2015_to_2020_Population_Over_65.xlsx')
df2.head()

,County,State,DP05_0025E (Estimate!!SEX AND AGE!!65 years and over),DP05_0026E (Estimate!!SEX AND AGE!!65 years and over!!Male),DP05_0027E (Estimate!!SEX AND AGE!!65 years and over!!Female),Year
0,Childress County,Texas,1020,476,544,2015
1,Comal County,Texas,20256,9431,10825,2015
2,Houston County,Texas,4665,2143,2522,2015
3,Navarro County,Texas,7561,3368,4193,2015
4,Scurry County,Texas,2438,1085,1353,2015

In [11]:
#renmaing the column names
df2.rename(columns={'DP05_0025E (Estimate!!SEX AND AGE!!65 years and over)':'Total_population_over_65','DP05_0026E (Estimate!!SEX AND AGE!!65 years and over!!Male)':'Male_population_over_65','DP05_0027E (Estimate!!SEX AND AGE!!65 years and over!!Female)':'Female_population_over_65'},inplace=True)
df2.head()

,County,State,Total_population_over_65,Male_population_over_65,Female_population_over_65,Year
0,Childress County,Texas,1020,476,544,2015
1,Comal County,Texas,20256,9431,10825,2015
2,Houston County,Texas,4665,2143,2522,2015
3,Navarro County,Texas,7561,3368,4193,2015
4,Scurry County,Texas,2438,1085,1353,2015

In [13]:
#drop a column
df1=df1.drop('S0101_C02_001E (Total_Estimated_Male_Population)',axis=1)
df1.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),S0101_C03_001E (Total_Estimated_Female_Population),Year
0,1,Childress County,Texas,7059,3009,2015
1,2,Comal County,Texas,119632,60445,2015
2,3,Houston County,Texas,22949,10722,2015
3,4,Navarro County,Texas,48118,24401,2015
4,5,Scurry County,Texas,17238,7926,2015

In [15]:
#drop a column
df1=df1.drop('S0101_C03_001E (Total_Estimated_Female_Population)',axis=1)
#renmaing the column name
df1.rename(columns={'S0101_C01_001E (Total_Estimated_Population)':'Total_population'},inplace=True)
df1.head()

   Id_number            County   State  Total_population  Year
0          1  Childress County   Texas              7059  2015
1          2      Comal County   Texas            119632  2015
2          3    Houston County   Texas             22949  2015
3          4    Navarro County   Texas             48118  2015
4          5     Scurry County   Texas             17238  2015

In [17]:
#drop a column
df2 = df2.drop('Male_population_over_65',axis=1)
#drop a column
df2 = df2.drop('Female_population_over_65',axis=1)
df2.head()

             County   State  Total_population_over_65  Year
0  Childress County   Texas                      1020  2015
1      Comal County   Texas                     20256  2015
2    Houston County   Texas                      4665  2015
3    Navarro County   Texas                      7561  2015
4     Scurry County   Texas                      2438  2015

In [18]:
#merging two dataframes based on county,state and year
df3=pd.merge(df1,df2,on=['County','State','Year'])
df3.head()

,Id_number,County,State,Total_population,Year,Total_population_over_65
0,1,Childress County,Texas,7059,2015,1020
1,2,Comal County,Texas,119632,2015,20256
2,3,Houston County,Texas,22949,2015,4665
3,4,Navarro County,Texas,48118,2015,7561
4,5,Scurry County,Texas,17238,2015,2438

In [19]:
#gives the details about datatypes and non-null count of the dataframe
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18853 entries, 0 to 18852
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id_number                 18853 non-null  int64
 1   County                    18853 non-null  object
 2   State                     18853 non-null  object
 3   Total_population          18853 non-null  int64
 4   Year                      18853 non-null  int64
 5   Total_population_over_65  18853 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.0+ MB

In [22]:
#mathematical calculation 
df3['Percent_population_over_65']=(df3['Total_population_over_65']*100)/df3['Total_population']
df3.head()

,Id_number,County,State,Total_population,Year,Total_population_over_65,Percent_population_over_65
0,1,Childress County,Texas,7059,2015,1020,14.449639
1,2,Comal County,Texas,119632,2015,20256,16.931925
2,3,Houston County,Texas,22949,2015,4665,20.327683
3,4,Navarro County,Texas,48118,2015,7561,15.713454
4,5,Scurry County,Texas,17238,2015,2438,14.143172

In [23]:
#pivoting a table and reseting the index
df3=df3.pivot_table(index=['County','State'],values=['Total_population','Total_population_over_65','Percent_population_over_65'],columns='Year').reset_index()
df3.head()

                County            State Percent_population_over_65             \
Year                                                          2015       2016
0     Abbeville County   South Carolina                  18.814258  19.566350
1        Acadia Parish        Louisiana                  13.290864  13.512474
2      Accomack County         Virginia                  20.468066  20.955838
3           Ada County            Idaho                  11.989911  12.559711
4         Adair County             Iowa                  22.515486  22.687585

                                                 Total_population            \
Year       2017       2018       2019       2020             2015      2016
0     78.832500  79.056657  79.384415  79.765682          24997.0   24951.0
1     73.290527  73.555172  73.818787  74.154655          62163.0   62372.0
2     79.083435  78.984179  78.838797  79.226044          33115.0   33060.0
3     75.213333  75.530431  75.966457  76.423351         417501.0  425798.0
4     78.462180  78.340820  78.560339  78.618048           7426.0    7330.0

                                             Total_population_over_65  \
Year      2017      2018      2019      2020                     2015
0      24788.0   24657.0   24627.0   24582.0                   4703.0
1      62607.0   62568.0   62457.0   62371.0                   8262.0
2      32840.0   32742.0   32673.0   32560.0                   6778.0
3     435117.0  446052.0  456849.0  469473.0                  50058.0
4       7192.0    7124.0    7085.0    7048.0                   1672.0


Year     2016      2017      2018      2019      2020
0      4882.0   19541.0   19493.0   19550.0   19608.0
1      8428.0   45885.0   46022.0   46105.0   46251.0
2      6928.0   25971.0   25861.0   25759.0   25796.0
3     53479.0  327266.0  336905.0  347052.0  358787.0
4      1663.0    5643.0    5581.0    5566.0    5541.0

In [25]:
#converting dataframe into csv
df3.to_csv('ACS_percent_population_over_65_from_2015_to_2020.csv',index=True)