In [64]:
import pandas as pd
import csv

In [65]:
#import the data from excel to a dataframe
df1=pd.read_excel('ACS_All_population_2015_to_2020_Subjected_data.xlsx')

In [66]:
#This will print the first few line of the dataframe
df1.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),S0101_C02_001E (Total_Estimated_Male_Population),S0101_C03_001E (Total_Estimated_Female_Population),Year
0,1,Childress County,Texas,7059,4050,3009,2015
1,2,Comal County,Texas,119632,59187,60445,2015
2,3,Houston County,Texas,22949,12227,10722,2015
3,4,Navarro County,Texas,48118,23717,24401,2015
4,5,Scurry County,Texas,17238,9312,7926,2015

In [67]:
#performing the arithmetic operations on the dataset and storing them in a new column
df1['Percent_Male_population']= (df1['S0101_C02_001E (Total_Estimated_Male_Population)']*100)/df1['S0101_C01_001E (Total_Estimated_Population)']
df1.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),S0101_C02_001E (Total_Estimated_Male_Population),S0101_C03_001E (Total_Estimated_Female_Population),Year,Percent_Male_population
0,1,Childress County,Texas,7059,4050,3009,2015,57.373566
1,2,Comal County,Texas,119632,59187,60445,2015,49.474221
2,3,Houston County,Texas,22949,12227,10722,2015,53.279010
3,4,Navarro County,Texas,48118,23717,24401,2015,49.289247
4,5,Scurry County,Texas,17238,9312,7926,2015,54.020188

In [68]:
#performing the arithmetic operations on the dataset and storing them in a new column
df1['Percent_Female_population']= (df1['S0101_C03_001E (Total_Estimated_Female_Population)']*100)/df1['S0101_C01_001E (Total_Estimated_Population)']
df1.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),S0101_C02_001E (Total_Estimated_Male_Population),S0101_C03_001E (Total_Estimated_Female_Population),Year,Percent_Male_population,Percent_Female_population
0,1,Childress County,Texas,7059,4050,3009,2015,57.373566,42.626434
1,2,Comal County,Texas,119632,59187,60445,2015,49.474221,50.525779
2,3,Houston County,Texas,22949,12227,10722,2015,53.279010,46.720990
3,4,Navarro County,Texas,48118,23717,24401,2015,49.289247,50.710753
4,5,Scurry County,Texas,17238,9312,7926,2015,54.020188,45.979812

In [22]:
df1.to_csv('ACS_updated_with_percent_male_female.csv',index=False)

In [41]:
df1.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),S0101_C02_001E (Total_Estimated_Male_Population),S0101_C03_001E (Total_Estimated_Female_Population),Year,Percent_Male_population,Percent_Female_population
0,1,Childress County,Texas,7059,4050,3009,2015,57.373566,42.626434
1,2,Comal County,Texas,119632,59187,60445,2015,49.474221,50.525779
2,3,Houston County,Texas,22949,12227,10722,2015,53.279010,46.720990
3,4,Navarro County,Texas,48118,23717,24401,2015,49.289247,50.710753
4,5,Scurry County,Texas,17238,9312,7926,2015,54.020188,45.979812

In [69]:
#dropping the unncessary columns, axis=1 represent a column
df1=df1.drop('S0101_C02_001E (Total_Estimated_Male_Population)',axis=1)
df1.head()

,Id_number,County,State,S0101_C01_001E (Total_Estimated_Population),S0101_C03_001E (Total_Estimated_Female_Population),Year,Percent_Male_population,Percent_Female_population
0,1,Childress County,Texas,7059,3009,2015,57.373566,42.626434
1,2,Comal County,Texas,119632,60445,2015,49.474221,50.525779
2,3,Houston County,Texas,22949,10722,2015,53.279010,46.720990
3,4,Navarro County,Texas,48118,24401,2015,49.289247,50.710753
4,5,Scurry County,Texas,17238,7926,2015,54.020188,45.979812

In [70]:
#dropping the unncessary columns, axis=1 represent a column
df1=df1.drop('S0101_C03_001E (Total_Estimated_Female_Population)',axis=1)
df1=df1.drop('Id_number',axis=1)
df1.head()

,County,State,S0101_C01_001E (Total_Estimated_Population),Year,Percent_Male_population,Percent_Female_population
0,Childress County,Texas,7059,2015,57.373566,42.626434
1,Comal County,Texas,119632,2015,49.474221,50.525779
2,Houston County,Texas,22949,2015,53.279010,46.720990
3,Navarro County,Texas,48118,2015,49.289247,50.710753
4,Scurry County,Texas,17238,2015,54.020188,45.979812

In [71]:
#converting the rows data into column by using the pivot_table function
df1=df1.pivot_table(index=['County','State'],values=['S0101_C01_001E (Total_Estimated_Population)','Percent_Male_population','Percent_Female_population'],columns='Year').reset_index()
df1.head()

                County            State Percent_Female_population             \
Year                                                         2015       2016
0     Abbeville County   South Carolina                 50.762091  51.056070
1        Acadia Parish        Louisiana                 51.702781  51.425319
2      Accomack County         Virginia                 51.330213  51.225045
3           Ada County            Idaho                 49.969222  49.895490
4         Adair County             Iowa                 50.619445  50.723056

                                                 Percent_Male_population  \
Year       2017       2018       2019       2020                    2015
0     48.588026  48.529829  48.487432  48.189732               49.237909
1     48.609580  48.732579  48.740734  48.876882               48.297219
2     48.961632  48.442368  48.768096  48.955774               48.669787
3     50.101237  50.076448  50.101018  50.074232               50.030778
4     49.388209  49.354295  49.470713  49.801362               49.380555

                                                             \
Year       2016       2017       2018       2019       2020
0     48.943930  51.411974  51.470171  51.512568  51.810268
1     48.574681  51.390420  51.267421  51.259266  51.123118
2     48.774955  51.038368  51.557632  51.231904  51.044226
3     50.104510  49.898763  49.923552  49.898982  49.925768
4     49.276944  50.611791  50.645705  50.529287  50.198638

     S0101_C01_001E (Total_Estimated_Population)                      \
Year                                        2015      2016      2017
0                                        24997.0   24951.0   24788.0
1                                        62163.0   62372.0   62607.0
2                                        33115.0   33060.0   32840.0
3                                       417501.0  425798.0  435117.0
4                                         7426.0    7330.0    7192.0


Year      2018      2019      2020
0      24657.0   24627.0   24582.0
1      62568.0   62457.0   62371.0
2      32742.0   32673.0   32560.0
3     446052.0  456849.0  469473.0
4       7124.0    7085.0    7048.0

In [72]:
df1.to_csv('updated_ACS_population.csv',index=False)