In [40]:
import pandas as pd
import csv

In [41]:
df1=pd.read_csv('sample_csv.csv',encoding='cp1252')
df1.head()

         Census_Tract        County_Name State_Name state_no county_no tract
0     Census Tract 36   Jefferson County    Alabama        1        73  3600
1     Census Tract 37   Jefferson County    Alabama        1        73  3700
2  Census Tract 38.02   Jefferson County    Alabama        1        73  3802
3  Census Tract 38.03   Jefferson County    Alabama        1        73  3803
4     Census Tract 39   Jefferson County    Alabama        1        73  3900

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84415 entries, 0 to 84414
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Census_Tract  84415 non-null  object
 1   County_Name   84415 non-null  object
 2   State_Name    84415 non-null  object
 3   state_no      84415 non-null  object
 4   county_no     84415 non-null  object
 5   tract         84415 non-null  object
dtypes: object(6)
memory usage: 3.9+ MB

In [44]:
#appending zeros to the leading numbers based on the requirement using the zfill()
df1['state_no']=df1['state_no'].apply(lambda x: x.zfill(2))
df1['county_no']=df1['county_no'].apply(lambda x: x.zfill(3))
df1['tract']=df1['tract'].apply(lambda x: x.zfill(6))
df1.head()

         Census_Tract        County_Name State_Name state_no county_no   tract
0     Census Tract 36   Jefferson County    Alabama       01       073  003600
1     Census Tract 37   Jefferson County    Alabama       01       073  003700
2  Census Tract 38.02   Jefferson County    Alabama       01       073  003802
3  Census Tract 38.03   Jefferson County    Alabama       01       073  003803
4     Census Tract 39   Jefferson County    Alabama       01       073  003900

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84415 entries, 0 to 84414
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Census_Tract  84415 non-null  object
 1   County_Name   84415 non-null  object
 2   State_Name    84415 non-null  object
 3   state_no      84415 non-null  object
 4   county_no     84415 non-null  object
 5   tract         84415 non-null  object
dtypes: object(6)
memory usage: 3.9+ MB

In [46]:
#concatinating the state,county,tract codes to get the full length census tract code which is 11 digits
df1['Full_census_tract_code']=df1['state_no']+df1['county_no']+df1['tract']
df1.head()

,Census_Tract,County_Name,State_Name,state_no,county_no,tract,Full_census_tract_code
0,Census Tract 36,Jefferson County,Alabama,01,073,003600,01073003600
1,Census Tract 37,Jefferson County,Alabama,01,073,003700,01073003700
2,Census Tract 38.02,Jefferson County,Alabama,01,073,003802,01073003802
3,Census Tract 38.03,Jefferson County,Alabama,01,073,003803,01073003803
4,Census Tract 39,Jefferson County,Alabama,01,073,003900,01073003900

In [47]:
#formating the data to store the appended zeros at the leading nu bers so that we can see the numbers as expected when exporting the data file
df1['state_no'] = df1['state_no'].apply('="{}"'.format)
df1['county_no'] = df1['county_no'].apply('="{}"'.format)
df1['tract'] = df1['tract'].apply('="{}"'.format)
df1['Full_census_tract_code'] = df1['Full_census_tract_code'].apply('="{}"'.format)
df1.head()

,Census_Tract,County_Name,State_Name,state_no,county_no,tract,Full_census_tract_code
0,Census Tract 36,Jefferson County,Alabama,"=""01""","=""073""","=""003600""","=""01073003600"""
1,Census Tract 37,Jefferson County,Alabama,"=""01""","=""073""","=""003700""","=""01073003700"""
2,Census Tract 38.02,Jefferson County,Alabama,"=""01""","=""073""","=""003802""","=""01073003802"""
3,Census Tract 38.03,Jefferson County,Alabama,"=""01""","=""073""","=""003803""","=""01073003803"""
4,Census Tract 39,Jefferson County,Alabama,"=""01""","=""073""","=""003900""","=""01073003900"""

In [49]:
df1.to_excel('Census_tracts_data_2020_full_Census_tract_code.xlsx',index=False)